.column-button {
  background-color: #212529;
  color: #69db7c;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 1.5rem;
  /* transition: 0.5s; */
  cursor: pointer;
  border: none;
}

.column-button:hover {
  color: white;
}

.column-button:active .column-button-arrow {
  margin-left: 40px;
  transition: 0.3s;
}

.column-button-arrow {
  margin-left: 35px;
}

.button-time {
  position: absolute;
  top: 0;
  right: 5rem;
}
.button-price {
  position: absolute;
  top: 0;
  right: 30rem;
}

.button-qty {
  position: absolute;
  top: 0;
  right: 17.6rem;
}

.button-id {
  position: absolute;
  top: 0;
  left: 13.2rem;
}

.price-text {
  position: fixed;
  margin-left: -15px;
}

.qty-text {
  position: fixed;
  margin-left: -20px;
}

/* Drop Down Manu */

.drop-down-container {
  position: absolute;
  top: 2rem;
  right: 25rem;
  z-index: 1000;
  height: 16.5rem;
  width: 12rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
}

.drop-down-container-qty {
  position: absolute;
  top: 2rem;
  right: 12.5rem;
  z-index: 1000;
  height: 5.2rem;
  width: 12rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
}

.price-option {
  border: none;
  cursor: pointer;
  margin-top: 5px;
  text-align: start;
  background-color: white;
  margin-left: 3px;
}

.price-option:hover {
  margin-left: 10px;
  font-weight: bold;
}
