.table-state {
  width: 10rem;
  margin-bottom: 15px;
  padding: 5px 20px;
  background-color: #40c057;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.table-state:hover {
  background-color: #69db7c;
}

.button-arrow {
  margin-left: 10px;
  transition: 0.5s;
}
.op-button-arrow {
  margin-left: 10px;
  transform: rotate(180deg);
  transition: 0.5s;
}
