* {
  font-family: "Noto Sans", sans-serif;
}
.table-container {
  margin: 4rem auto;
  width: 87.7rem;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  background-color: #1c7ed6;
  border-radius: 3px;
}
